<launch>
	<arg name="gui" default="True" />

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cbot_description)/urdf/j2n7s300_standalone.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="zeros/j2n7s300_joint_2" value="3.1415"/>
		<param name="zeros/j2n7s300_joint_3" value="3.1415"/>
	  <param name="zeros/j2n7s300_joint_4" value="3.1415"/> 
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>

